/* 
body{
    background: url('../img/ecran.jpg') no-repeat center center/cover;
}

.form {
    display:  flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    border: 2px solid rgba(255, 227, 51, 0.5);
}

.form h2{
    color: rgb(255, 255, 255, 0.85);
    font-size: 2rem;
    border-bottom: 4px solid  rgba(255, 227, 51, 0.5);
    margin: 50px;
}
/* INPUT 

.box{
    padding: 12px;
    margin: 20px;
    width: 65%;
    border: 2px solid rgba(255, 227, 51, 0.5);
    outline: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
}

/*ICONS
#email{
    background: url("../img/user.png") no-repeat  ;
    background-position: 98% 50%;
}

#password{
    background: url("../img/cadena.png") no-repeat right;
    background-position: 98% 50%;
}



/* LOGIN BUTTON 

#submit {
    padding : 10px 20px;
    margin-top: 50px;
    width: 50%;
    background: rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
}

#submit:hover{
    cursor: pointer;
    /*background-color: rgba(255, 227, 51, 0.3);
    border:thick double rgba(255, 227, 51, 0.5);
    
    transition-duration: 0.5s;
}

::placeholder{
    color: white;
    opacity: 0.8;

}

/*PASSWORD FORGET ET LIEN D'INSCRIPTION
.form a{
    color:  rgba(255, 227, 51, 0.5);
    font-size: 13px;
    padding-top: 8px;
    
}

.form a:hover{
    transition-duration: 0.3s;
    font-size: 16px;
}

.form a:visited{
    color: none;
}
 */
