@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap');

* {
  font-family: "Sono", sans-serif;
  /* font-size: large; */
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* 
.logo position absolut / article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}*/


.header {
  height: 50px;
  width: 100%;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dddddd;
  z-index: 100;
}


.nav {
  list-style: none;
}

.nav li a:hover {
  color: #af9d28;
  border-radius: 12px;
}

.nav li {
  display: inline-block;
  padding: 10px;
}

.nav li a {
  text-decoration: none;
  color: #000000;
}

.icon {
  padding-right: 30px;
}


/*formulare de contact*/
/* prendre en compte le responsive et mettre une side barre depliante sur mobile */
