
.cart-page {
    margin: 80px auto;
}

table {
    width: 80%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #696969;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}
/*
td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
} 
*/
.total-price {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #696969;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}
 
